@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&family=Fira+Sans:ital,wght@1,900&family=Oswald:wght@500&family=Poppins&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    min-height: 100%;
    background-color: #E9E9EB;
}

body{
    overflow-x: hidden;
}


main{
    padding-top: 110px;
}

/*************************/
/***CONTAINER PRINCIPAL***/
/*************************/

#hero-wrapper {
    width: 100%;
    height: 800px;
    background-color: #000;
    position: relative;
}


#container{
    width: 100%;
    height: auto;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    display: flex;
    align-items: center;
    flex-direction: column;
    position: relative;
    min-width: 600px;
    max-width: 1140px;
    gap: 20px;
}

#hero-wrapper .logo {
    display: flex;
    justify-content: center;
    position: relative;
    margin-bottom: 3em;
    width: 100%;
    height: 100%;
}

#container img{
    position: absolute;
    height: auto;
    max-width: 100%;
    border-style: none;
    background-attachment: fixed;
}

#texto-SN{
    display: flex;
    flex-direction: column;
    margin-top: 250px;
    font-family: "Oswald";
    opacity: 1;
    transform: translateZ(0);
    transition-property: inherit;
    gap: 20px;
}

#texto-SN h1{
    margin-top: 1.2em;
    color: #fff;
    text-align: center;
    position: relative;
    font-size: 50px;
    line-height: 1;
    text-transform: uppercase;
    margin: 0;
    clear: both;
}

#texto-SN h3{
    margin-top: 24px;
    color: #fff;
    text-align: center;
    position: relative;
    font-size: 20px;
    font-weight: 600;
    line-height: 1.25;
}

#btn-video{
    width: 230px;
    text-align: center;
    position: relative;
    padding: 0;
    font-family: "Oswald";
    font-weight: 700;
    font-size: 16px;
    line-height: 16px;
    text-transform: uppercase;
    color: #fff;
    background-color: black;
    border: 2px white solid;
    border-radius: 32px;
    padding: 16px 16px;
    white-space: nowrap;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    margin-top: 6vw;
}

#btn-video:hover{
    color: black;
    background-color: white;
    transition: 0.5s;
}

#btn-video a{
    color: #fff;
    text-decoration: none;
}

/*************************/
/***CONTAINER PRODUCTOS***/
/*************************/

.productos-wrapper {
    position: relative;
    color: #fff;
    width: 100%;
    height: 750px;
    background-color: #000;
    padding-top: 40px;
}

#container-prods{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#container-prods h1{
    font-family: "Oswald";
    text-align: center;
    color: #fff;
    position: relative;
    font-size: 50px;
    line-height: 1;
    text-transform: uppercase;
    margin: 0;
    clear: both;
}

.carrusel{
    padding: 30px;
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
    overflow: hidden;
    
}

.carrusel-item{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

#img-carrusel{
    border-bottom: 2px solid white;
    margin: 10px;
}

@keyframes fadeInUp {
    from {
      transform: translateY(100px);
      opacity: 0;
    }
    to {
      transform: translateY(0);
      opacity: 1;
    }
  }
  .fade-in-up {
    animation: 1.5s both fadeInUp;
} 

/********************/
/***CONTAINER INFO***/
/********************/

.info-wrapper{
    width: 100%;
    height: auto;
    background-color: #ee2737;
    font-family: "Oswald";
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 75px;
}

.container-item{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.container-item h1{
    font-size: 100px;
    text-transform: uppercase;
    color: white;
    margin: 70px 85px;
    line-height: 1;
}

.container-item img{
    width: 90%;
    height: auto;
    padding: 30px 30px;
}

#div-jefe{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0 30px;
}

#jefe-info{
    width: 100%;
    height: auto;
    display: flex;
    gap: 100px;
    align-items: center;
}

#div-jefe{
    width: 100%;
    padding-left: 120px;
}

#div-jefe h1{
    font-size: 100px;
    text-align: center;
	text-shadow: 7px 7px #8dffcd;
}

#jefe-info p{
    max-width: 1000px;
    line-height: 200%;
    font-size: 24px;
    text-align: left;
    overflow: hidden;
}

#div-jefe img{
    width: 560px;
    height: 560px;
}

#div-jefe picture{
    padding: 10px 10px;
}

#fondo-deco-responsive{
    display: none;
}


/****************/
/***RESPONSIVE***/
/****************/

@media only screen and (max-width: 1200px){

    main{
        padding-top: 100px;
    }

    #hero-wrapper{
        width: auto;
        position: relative;
        padding-top: 100px;
    }

    #container{
        margin: 0;
        width: auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        position: relative;
        min-width: 10px;
    }

    #container img{
        display: none;
    }

    #container img:nth-child(1){
        display: flex;
    }

    #texto-SN{
        display: flex;
        flex-direction: column;
        align-items: center;
        width: auto;
        align-items: center;
        text-align: center;
        padding-top: 30px;
        padding-bottom: 30px;
    }

    /*************************/
    /***CONTAINER PRODUCTOS***/
    /*************************/

    .productos-wrapper {
        position: relative;
        color: #fff;
        width: 100%;
        height: 750px;
        background-color: #000;
        padding-top: 80px;
    }

    #img-carrusel{
        width: 80%;
        height: 300px;
    }
    /********************/
    /***CONTAINER INFO***/
    /********************/

    .container-item img{
        display: none;
    }

    #div-jefe{
        display: flex;
        flex-direction: column;
        padding: 0 10px;
    }



    #div-jefe img{
        display: block;
    }

    #h1-info{
        display: none;
    }

    #fondo-deco{
        display: none;
    }
    
    #fondo-deco-responsive{
        width: auto;
        height: auto;
        display: flex;
    }

    #div-jefe img{
        text-align: center;
    }

    #jefe-info{
        width: 60%;
        height: auto;
        display: flex;
        flex-direction: column;
    }

    
}

